<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desks</title>

  </head>
  <body>
    <main>
        <h1>Desks reservation app</h1>
    </main>
        <h2> Menu: </h2>
            <ol>
                <li> <a href="/room/all_rooms/"> Main page (room list) </a></li>
                <li> <a href="/room/new/"> Add room </a> </li>
            </ol>

<br>
  <br>
  <br>
  <br>
  <br>
  <br>
 <footer>
  <p>Author: Magdalena Krysiak </p>
  <p><a href="mailto:magdakrysiakk@gmail.com">magdakrysiakk@gmail.com</a></p>
</footer>


</body>
</html>